*{
  box-sizing: border-box;
}

/* --- FARBEN ---*/
:root {
  --braun: #7F563C;
  --rot: #B9181E;
  --gold: #EAAC6A;
  --display-light: #CDCDCD;
  --display-dark: #525252;
  --weiss: #EDEDED;
  --icon-bg: rgba(127, 86, 60, 0.4);
  --icon-bg-hover: rgba(234, 172, 106, 0.6)

}

body{
    background-color: var(--braun);
    margin: 0;
    padding: 0;
    color: var(--weiss);
    background-image: url("../img/wooden-background.webp");
    background-size: cover;
}
.shadow{
    min-width: 100vh;
    min-height: 100vh;
    box-shadow: inset 0 0  100px 60px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 3vh;
    color: var(--gold);
    background-color: #82674B;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(234,172,106,1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

}
h2{
    font-family: "Pacifico", cursive;
    font-weight: 400;
}
#top-text{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 1rem;
}
#etch-a-sketch{
    background-color: var(--rot);
}
.toy-name{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 2vh;
    text-transform: uppercase;
    color: var(--gold);
    background-color: #82674B;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(234,172,106,1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#etch-a-sketch{
    width: 60vh;
    border-radius: 1.25rem;
    box-shadow: 4px 10px 64px 17px rgba(0,0,0,0.12),
                inset 7px 7px 14px 0 #F83636,
                inset -5px 11px 24px 0 rgba(0,0,0,0.25),
                0 24px 34px 0 rgba(0,0,0,0.14),
                0 24px 20px -15px rgba(0,0,0,0.3);
}
ul#navigation{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
}
ul#navigation li{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--icon-bg);
    width: 5rem;
    height: 5rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center ;

}
ul#navigation li:hover{
    background-color: var(--icon-bg-hover);
    cursor: pointer;
}
#grid-container{
    min-height: 51vh;
    background-color: var(--display-light);
    border-radius: 1.75rem;
    box-shadow: 0 4px 9px 1px #EB3132,
                inset 6px 4px 6px 0 rgba(0,0,0,0.25),
                inset -5px 4px 4px 0 rgba(0,0,0,0.25),
                0 2px 14px 4px rgba(0,0,0,0.36),
                0 0 30px 4px rgba(0,0,0,0.25),
                inset -12px 4px 24px 0 rgba(0,0,0,0.25),
                inset 15px 7px 24px 0 rgba(0,0,0,0.25);
}
.grid-container-arround{
    padding: 0 4.5vh 1vh;
}
.controll{
    max-width: 5rem;
    max-width: 5rem;
    width: 8vh;
    height: 8vh;
    background-color: var(--weiss);
    border-radius: 2.5rem;

    box-shadow: 
                inset 7px 7px 5px 1px rgba(255,255,255,0.94),
                inset -3px -3px 4px 3px rgba(0,0,0,0.25),
                6px 4px 8px 3px rgba(0,0,0,0.25);
}
#controlls{
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 2rem;
}